.env
package-lock.json
node_modules/
dist/
data/
debug.env
release.env
projects/server/test.env
projects/server/thunder-tests/thunderActivity.json
projects/server/local.env
emojiMap.json
newrelic_agent.log