<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatMate Server</title>
  </head>
  <body>
    <p><strong>Version: </strong><%= htmlWebpackPlugin.options.version %></p>
    <p><strong>Date: </strong><%= htmlWebpackPlugin.options.date %></p>
    <p><strong>Build: </strong><%= htmlWebpackPlugin.options.build %></p>
    <a href="<%= htmlWebpackPlugin.options.studioUrl %>">Studio</a>
  </body>
</html>
