REACT_APP_SERVER_API_URL=http://localhost:3010/api
CI=false # prevent create-react-app from treating warning as errors, as it is incredibly annoying and an objectively bad default. the only way to disable it is to pretend we are building locally