name: Production

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-and-deploy:
    uses: ./.github/workflows/build-and-deploy.yml
    with:
      NODE_ENV: 'release'
      deploy: ${{ !contains(github.event.head_commit.message, '--skip-deploy') }}
      tests: ${{ !contains(github.event.head_commit.message, '--skip-tests') }}
      migrations: ${{ !contains(github.event.head_commit.message, '--skip-migrations') }}
      server: ${{ !contains(github.event.head_commit.message, '--skip-server') }}
      studio: ${{ !contains(github.event.head_commit.message, '--skip-studio') }}
      STUDIO_URL: 'https://www.chat-mate.com'
      SERVER_URL: 'https://server.chat-mate.com'
    secrets:
      publishProfile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_8650F90DDD1E477C9336809BAAEEE87F }}
      STATIC_WEB_APPS_TOKEN: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_KIND_ROCK_0D2509E10 }}
      DATABASE_USERNAME: ${{ secrets.DATABASE_USERNAME }}
      DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
      DATABASE_HOST: ${{ secrets.DATABASE_HOST }}
      DATABASE_PORT: ${{ secrets.DATABASE_PORT }}
